{% extends 'base.html.twig' %}

{% block title %}{{ 'title.homepage' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'title.homepage' | trans }}</h1>
        <div>
            {{ 'global.locale.selected' | trans({ '%locale%': app.request.locale|locale_name(app.request.locale)|u.title }) }}
            <br>
            {{ 'global.locale.choose' | trans ~ ':' }}
            <ul>
                <li>
                    <a href="{{ path('homepage', { _locale: 'pl' }) }}">{{ 'pl' | locale_name(app.request.locale) | u.title }}</a>
                </li>
                <li>
                    <a href="{{ path('homepage', { _locale: 'en' }) }}">{{ 'en' | locale_name(app.request.locale) | u.title }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
